# Virtual Environment
.venv/
venv/
env/

# Python Caches & Compiled Files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Data Storage & Datasets (Raw, Processed, Parquet logs)
data/*.csv
data/*.parquet
*.csv
*.parquet

# MLflow Local Tracking & Registry State
mlruns/
mlflow.db*

# Vector Database Local Binaries (ChromaDB)
chroma_db/

# IDEs and System Garbage
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temporary Architecture Notes
project_structure.txt

# Local approvals database
approvals.db
